.article-summary, .article-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 24px;
}

.article-title {
  line-clamp: 2;
  -webkit-line-clamp: 2;
  margin-bottom: 20px;

  line-height: 29.26px;
}

.article-summary {
  -webkit-line-clamp: 4;
  line-height: 24px;
}